.main {
  width: 100%;
  text-align: end;
  padding: 9% 10%;
  background: url('../images/PngItem_5207199.png') no-repeat center;
  background-color: darkblue;
  opacity: 0.8;
  color: #fff;
}

.categories {
  width: 100%;
  text-align: center;
  padding: 1% 0;
  font-weight: bold;
  font-size: 18px;
  background: #020269;
  opacity: 0.7;
  color: white;
}

.link {
  text-decoration: none;
  color: #fff;
}

.subMain {
  background-color: #38389b;
}

.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0;
}

.listItem {
  background: rgb(30, 30, 119);
  padding: 10% 5%;
  margin: 5px;
  text-align: end;
  background-image: url(../images/Cryptocurrency_Gold.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 30% 20%;
}

.listName {
  margin: 45% 0 3% 0;
}

.header {
  width: 100%;
  display: flex;
  padding: 1% 2%;
  background: #020269;
  opacity: 0.7;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.icons {
  margin: 0 15%;
}

.iconHolder {
  width: 10%;
}
