.main {
  width: 100%;
  text-align: end;
  padding: 14% 10%;
  background: url('../images/PngItem_5207199.png') no-repeat center;
  background-color: darkblue;
  opacity: 0.8;
  color: #fff;
}

.listItems {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  background: #020269;
  opacity: 0.9;
  color: white;
}

.list li:nth-child(odd) {
  background: #020269;
}

.header {
  display: flex;
  width: 100%;
  padding: 1% 2%;
  background: #020269;
  opacity: 0.7;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
}
